body {
    margin: 0;
    font-family: 'Cuprum', sans-serif;
    color: white;
    font-size: 16px;

}

*, *:before, *:after {
    box-sizing: border-box;
}

/* Container */
.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;

}

/* Header */
.header {
    background-color: #ebebeb;
    padding: 12px 0;

}


.row {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    
}

.row a {
    text-decoration: none;
    text-transform: uppercase;
}
.nav__links {
    margin-right: 14px;
    color: black;
    font-weight: bold;
    position: relative;
    border: 2px solid #ebebeb;
    padding: 8px;
    
}

.nav__links:hover  {
    border: 2px solid black;
    transition: 0.3s;
    
}

.nav__links:last-child {
    margin-right: 0px;
}

/* main Offer */

.main-offer {
    background: #cfd1e4 url(img/bg-main.jpg);
    color: black;
    height: 820px;
}
.container__inner {
    display: flex;
    justify-content: space-between;     
}

.main-offer-text {
    margin-top: 100px;
    height: 400px;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;

}

.offertext {
    font-size: 48px;

}

.offer {
    font-size: 36px;
}

.button {
    margin-top: 70px;
    background: #50a9da url(img/icons/button-bg.png) no-repeat center;
    padding: 7px;
    font-size: 20px;
    border: 1px #50a9da solid;
    border-radius: 15px;
    opacity: 0.8;

}

.button:hover {
    border: 1px #50a9da solid;
    transition: 0.3s;
    opacity: 1;

}